{# templates/user_club/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom d'utilisateur</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Rôles</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.prenomUser }}</td>
                    <td>{{ user.adresseUser }}</td>
                    <td>{{ user.emailUser }}</td>
                    <td>{{ user.statutUser }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
