{% extends 'base.html.twig' %}

{% block title %}Paiement pour la Location{% endblock %}

{% block body %}
    <div class="container mt-5">
        <a href="{{ path('location_index') }}" class="btn btn-primary mb-3">Retour à la Liste des Locations</a>

        <h1 class="mb-4">Effectuer le Paiement pour la Location</h1>

        <div class="card">
            <div class="card-body">
                <form method="post">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.montant) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.date) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_row(form.modePaiement) }}
                    </div>

                    <button type="submit" class="btn btn-success">Payer</button>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
