{% extends 'base.html.twig' %}

{% block title %}Profil Client - {{ client.nomClient }} {{ client.prenomClient }}{% endblock %}

{% block body %}

    <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Retour à la liste des clients</a>

    <br></br>
    <div class="container mt-4">
        <h1>Profil de {{ client.nomClient }} {{ client.prenomClient }}</h1>

        <h3>Informations personnelles</h3>
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <td>{{ client.nomClient }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ client.prenomClient }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresseClient }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.emailClient }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ client.niveauClient.value }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ client.TelClient }}</td>
            </tr>
            <tr>
                <th>Camping</th>
                <td>{{ client.camping ? client.camping.nomCamping : 'Aucun camping' }}</td>
            </tr>
            <tr>
                <th>Date d'inscription</th>
                <td>{{ client.DateInscriptionClient|date('d-m-Y') }}</td>
            </tr>
        </table>

        {% for message in app.flashes('success') %}
        <div class="alert alert-success" id="flash-message">
            {{ message }}
        </div>
        {% endfor %}

        <!-- Button to add a forfait -->
        <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addForfaitModal">Ajouter un Forfait</button>

        <h3>Forfaits</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Nombre de séances</th>
                    <th>Date début</th>
                    <th>Date d'expiration</th>
                    <th>Prix</th>
                    <th>Prix avec Remise</th>
                </tr>
            </thead>
            <tbody>
                {% for forfait in client.forfaits %}
                    <tr>
                        <td>{{ forfait.id }}</td>
                        <td>{{ forfait.typeForfait.value }}</td>
                        <td>{{ forfait.nombreSeance }}</td>
                        <td>{{ forfait.dateDebut|date('d-m-Y') }}</td>
                        <td>{{ forfait.dateExpiration|date('d-m-Y') }}</td>
                        <td>{{ forfait.prixForfait }} €</td>
                        <td>{{ forfait.prixRemiseForfait }} €</td>
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun forfait trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Paiements</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Montant</th>
                    <th>Mode de paiement</th>
                    <th>Statut du paiement</th>
                    <th>Forfait</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for paiement in client.paiements %}
                    <tr>
                        <td>{{ paiement.id }}</td>
                        <td>{{ paiement.montant }} €</td>
                        <td>{{ paiement.modePaiement }}</td>
                        <td>{{ paiement.statutPaiement }}</td>
                        <td>
                            {% if paiement.forfait %}
                                Forfait #{{ paiement.forfait.id }} - {{ paiement.forfait.typeForfait.value }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if paiement.location %}
                                Location #{{ paiement.location.id }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#viewFactureModal" 
                                    data-id="{{ paiement.id }}"  
                                    data-num="{{ paiement.facture.numFacture }}" 
                                    data-montant="{{ paiement.facture.montantTotal }}" 
                                    data-date="{{ paiement.facture.dateFacture|date('d-m-Y') }}" 
                                    data-adresse="{{ paiement.facture.adresseEtablissement }}"
                                    data-paiementmode="{{ paiement.modePaiement }}" 
                                    data-paiementstatut="{{ paiement.statutPaiement }}" 
                                    data-clientnom="{{ paiement.client.nomClient }}" 
                                    data-clientprenom="{{ paiement.client.prenomClient }}">
                                    
                                    Voir Facture
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun paiement trouvé</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal pour ajouter un forfait -->
        <div class="modal fade" id="addForfaitModal" tabindex="-1" aria-labelledby="addForfaitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addForfaitModalLabel">Ajouter un Forfait</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="addForfaitForm" method="post" action="{{ path('app_forfait_create', {id: client.id}) }}">
                            <div class="mb-3">
                                <label for="typeForfait" class="form-label">Type de Forfait</label>
                                <select class="form-control" id="typeForfait" name="typeForfait" required>
                                    <option value="" disabled selected>Choisissez un type de forfait</option>
                                    <option value="Forfait1">Forfait1</option>
                                    <option value="Forfait2">Forfait2</option>
                                    <option value="Forfait3">Forfait3</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="nombreSeance" class="form-label">Nombre de séances</label>
                                <input type="number" class="form-control" id="nombreSeance" name="nombreSeance" required>
                            </div>
                            <div class="mb-3">
                                <label for="dateDebut" class="form-label">Date de début</label>
                                <input type="date" class="form-control" id="dateDebut" name="dateDebut" required>
                            </div>
                            <div class="mb-3">
                                <label for="dateExpiration" class="form-label">Date d'expiration</label>
                                <input type="date" class="form-control" id="dateExpiration" name="dateExpiration" required>
                            </div>
                            <div class="mb-3">
                                <label for="prixForfait" class="form-label">Prix</label>
                                <input type="number" class="form-control" id="prixForfait" name="prixForfait" required>
                            </div>
                            <div class="mb-3">
                                <label for="prixRemiseForfait" class="form-label">Prix avec Remise</label>
                                <input type="number" class="form-control" id="prixRemiseForfait" name="prixRemiseForfait" required>
                            </div>

                            <!-- Champs cachés pour les remises -->
                            <input type="hidden" id="clientCamping" value="{{ client.camping ? 1 : 0 }}">
                            <input type="hidden" id="remiseCamping" value="{{ client.camping ? client.camping.remiseCamping : 0 }}">

                            <button type="submit" class="btn btn-success">Enregistrer le forfait</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        

        <!-- Modal pour voir la facture -->
        <div class="modal fade" id="viewFactureModal" tabindex="-1" aria-labelledby="viewFactureModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewFactureModalLabel">Détails de la Facture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Informations de la facture -->
                        <p><strong>Numéro de Facture :</strong> <span id="factureNum"></span></p>
                        <p><strong>Montant Total :</strong> <span id="factureMontant"></span> €</p>
                        <p><strong>Date :</strong> <span id="factureDate"></span></p>
                        <p><strong>Adresse :</strong> <span id="factureAdresse"></span></p>

                        <!-- Informations de paiement -->
                        <p><strong>Mode de Paiement :</strong> <span id="paiementMode"></span></p>
                        <p><strong>Statut de Paiement :</strong> <span id="paiementStatut"></span></p>

                        <!-- Informations du client -->
                        <p><strong>Nom du Client :</strong> <span id="clientNom"></span></p>
                        <p><strong>Prénom du Client :</strong> <span id="clientPrenom"></span></p>
                    </div>
                </div>
            </div>
        </div>


    

{% endblock %}
