{% extends 'base.html.twig' %}

{% block title %}Gestion_Club_Nautique{% endblock %}
{% block body %}
    <!-- Content Row -->
    <div class="row">
        <!-- Clients inscrits -->
        <div class="col-xl-3 col-md-6 mb-5"> <!-- Augmenter l'espacement avec mb-5 -->
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Clients Inscrits
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombreClients }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Matériel Disponible Card Example -->
        <div class="col-xl-3 col-md-6 mb-5"> <!-- Augmenter l'espacement avec mb-5 -->
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Matériels Disponibles
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ nombreMaterielsDisponibles }}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card pour le nombre de Campings Partenaires -->
        <div class="col-xl-3 col-md-6 mb-5"> <!-- Augmenter l'espacement avec mb-5 -->
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre de Campings Partenaires
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ nombreCampings }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-campground fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cours planifiés </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Heure de début</th>
                            <th>Heure de fin</th>
                            <th>État</th>
                            <th>Nombre de places</th>
                            <th>Moniteur</th>
                            <th>Matériaux</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cours in cours %}
                            <tr>
                                <td>{{ cours.id }}</td>
                                <td>{{ cours.dateCours|date('d/m/Y') }}</td>
                                <td>{{ cours.heureDebutCours|date('H:i') }}</td>
                                <td>{{ cours.heureFinCours|date('H:i') }}</td>
                                <td>{{ cours.etatCours }}</td>
                                <td>{{ cours.nombreDePlace }}</td>
                                <td>
                                    {{ cours.moniteur.prenomUser }} {{ cours.moniteur.username }}
                                </td>
                                <td>
                                    {% for materiel in cours.materiels %}
                                        {{ materiel.typeMateriel }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8" class="text-center">Aucun cours planifié disponible.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}