{# templates/forfait/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Forfaits{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    .search-bar {
        display: flex;
        flex-direction: column; /* Empile les éléments */
        align-items: flex-end; /* Aligne les éléments à droite */
        margin-bottom: 20px;
        margin-right: 20px; /* Espacement par rapport à la bordure droite */
    }

    .search-label {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 5px; /* Espacement avec le champ */
    }

    .form-control {
        width: 300px;
        margin-bottom: 10px; /* Ajoute un espacement avec le bouton */
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 180px;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>


{% endblock %}

{% block body %}
    <h1>Liste des Forfaits</h1>
    <div class="col-md-12 search-bar flex-end flex">
        <form action="{{ path('forfait_index') }}" method="get">
            <label for="searchForfait">Rechercher un forfait</label>
            <input type="text" class="form-control" id="searchForfait" name="q" placeholder="Nom du client" value="{{ query }}">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Nombre de Séances</th>
                <th>Date de Début</th>
                <th>Date d'Expiration</th>
                <th>Prix</th>
                <th>Prix avec Remise</th>
                <th>Nom du Client</th>
            </tr>
        </thead>
        <tbody>
            {% for forfait in forfaits %}
                <tr>
                    <td>{{ forfait.id }}</td>
                    <td>{{ forfait.typeForfait.value }}</td>
                    <td>{{ forfait.nombreSeance }}</td>
                    <td>{{ forfait.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ forfait.dateExpiration|date('d-m-Y') }}</td>
                    <td>{{ forfait.prixForfait }}</td>
                    <td>{{ forfait.prixRemiseForfait }}</td>
                    <td>{{ forfait.client.nomClient }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}