{% extends 'base.html.twig' %}

{% block title %}Facture #{{ facture.id }}{% endblock %}

{% block body %}
    <h1>Facture #{{ facture.id }}</h1>

    {# Informations sur le client #}
    <h3>Client : {{ client.nomClient }} {{ client.prenomClient }}</h3>

    <table class="table">
        <tr>
            <th>Numéro de facture</th>
            <td>{{ facture.numFacture }}</td>
        </tr>
        <tr>
            <th>Montant total</th>
            <td>{{ facture.montantTotal }} €</td>
        </tr>
        <tr>
            <th>Adresse d'établissement</th>
            <td>{{ facture.adresseEtablissement }}</td>
        </tr>
        <tr>
            <th>Date de la facture</th>
            <td>{{ facture.dateFacture|date('d-m-Y') }}</td>
        </tr>

        {# Informations sur le paiement #}
        <tr>
            <th>Mode de Paiement</th>
            <td>{{ paiement.modePaiement }}</td>
        </tr>
        <tr>
            <th>Statut du Paiement</th>
            <td>{{ paiement.statutPaiement }}</td>
        </tr>
        <tr>
            <th>Montant payé</th>
            <td>{{ paiement.montant }} €</td>
        </tr>
        <tr>
            <th>Date de Paiement</th>
            <td>{{ paiement.datePaiement|date('d-m-Y') }}</td>
        </tr>
    </table>

    <a href="{{ path('app_client_profile', {id: facture.paiement.client.id}) }}" class="btn btn-secondary">Retour au profil client</a>
{% endblock %}
