{# templates/cours/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du Cours{% endblock %}

{% block body %}
    <h1>Détails du Cours</h1>

    <p><strong>Date :</strong> {{ cours.dateCours|date('d/m/Y') }}</p>
    <p><strong>Heure de début :</strong> {{ cours.heureDebutCours|date('H:i') }}</p>
    <p><strong>Heure de fin :</strong> {{ cours.heureFinCours|date('H:i') }}</p>
    <p><strong>État :</strong> {{ cours.etatCours }}</p>
    <p><strong>Nombre de places :</strong> {{ cours.nombreDePlace }}</p>
    <p><strong>Moniteur :</strong> {{ cours.moniteur.prenomUser }}</p>

    <h3>Matériel Utilisé :</h3>
    <ul>
        {% for materiel in cours.materiels %}
            <li>{{ materiel.typeMateriel }}</li>
        {% endfor %}
    </ul>

    <a href="{{ path('cours_index') }}" class="btn btn-secondary">Retour à la liste des cours</a>
{% endblock %}
